<h3>Are you sure you want to delete this wedding?</h3>
<span>@ViewBag.deleteError</span>
<h3>@ViewBag.wedding.Name1 and @ViewBag.wedding.Name2 on @ViewBag.wedding.Date.ToString("MM/d/yyyy")</h3>
<a href='/yesdelete/@ViewBag.wedding.WeddingID'>Yes, Delete It</a><br>
<br>
<a href='/dashboard'>No, Do Not Delete It</a>
